<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lr.quartetplatform">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/net_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name="com.lr.quartetplatform.MyApplication"
        android:theme="@style/AppTheme"
        tools:targetApi="n">

        <activity android:name=".SplashActivity">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".moudle1.activity.CustomActivity" />
        <activity android:name=".moudle1.activity.WebActivity" />
        <activity android:name=".moudle4.activity.LoginActivity" />
        <activity android:name=".moudle4.activity.ForgetPassActivity" />
        <activity android:name=".moudle4.activity.RegisterActivity" />
        <activity android:name=".moudle4.activity.ProtocolActivity" />
        <activity android:name=".moudle4.activity.SettingActivity" />
        <activity android:name=".moudle4.activity.SetNickNameActivity" />
        <activity android:name=".moudle4.activity.MyFootActivity" />
        <activity android:name=".moudle4.activity.MyScheduleActivity" />
        <activity android:name=".moudle4.activity.MyJoinActivity" />

        <meta-data
            android:name="design_width_in_dp"
            android:value="375" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="667" />
    </application>

</manifest>